# Bot configuration
APP_ID=YOUR_APP_ID
SIGNING_SECRET=YOUR_SIGNING_SECRET
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
PORT=3000

# Database configuration
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME

# Slack configuration
SIP_EMOJI=YOUR_SIP_EMOJIS (comma-separated list without :, e.g. "sip,beers,coffee")
UNSIP_EMOJI=YOUR_UNSIP_EMOJIS (comma-separated list without :, e.g. "unsip")
CHANNEL_SIP_ALERTS=YOUR_CHANNEL_SIP_ALERTS_ID
CANEVAS_LOGS=YOUR_CANEVAS_LOGS_ID

# Discord configuration
DISCORD_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL